.gitignore merge=ours
AppFeatures.json merge=ours
AssemblyInfo.cs merge=ours
BuildRelease.py merge=ours
DefaultPathways.json merge=ours
DivinityApp.cs merge=ours
DivinityBaseModData.cs merge=ours
DivinityModDataLoader.cs merge=ours
DivinityModManagerSettings.cs merge=ours
DivinityModOsiExtenderConfig.cs merge=ours
GUI.csproj merge=ours
IgnoredMods.json merge=ours
MainWindow.xaml merge=ours
MainWindow.xaml.cs merge=ours
MainWindowViewModel.cs merge=ours
ScriptExtenderSettings.cs merge=ours
SettingsWindow.xaml merge=ours
SettingsWindow.xaml.cs merge=ours
Update.xml merge=ours
VersionGeneratorWindow.xaml merge=ours
packages.config merge=ours